/*
##################################
Styling ##########################
##################################
*/

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#c48500, #391e07);
  background-size: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #e0dbdb;
  width: 100vw;
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 200px;
}

main {
  border-radius: 24px;
  box-shadow: 20px 30px 30px 1px rgba(0, 0, 0, 0.4);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #e0dbdb;
  text-decoration: none;
}

.material-symbols-outlined:hover {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: rgb(200, 0, 0);
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

#navbar a {
  color: white;
  padding: 15px 15px;
  font-size: 1.25rem;
  text-decoration: none;
  text-shadow: #0e0d0c 1px 1px 1px;
  font-weight: 100;
}

#navbar a:hover {
  color: #0e0d0c;
  text-underline-offset: 16px;
  text-decoration: underline 1px;
}

#header h1 {
  font-size: 8rem;
  font-weight: 100;
  text-shadow: #0e0d0c 2px 2px 2px;
}

#header h2 {
  font-size: 1.25rem;
  font-weight: 100;
  margin: 0 auto;
  /* width: 768px; */
  line-height: 150%;
  color: white;
  text-shadow: #0e0d0c 1px 1px 1px;
  /* padding-bottom: 50px; */
}

#header a {
  color: white;
  font-size: 1.25rem;
  font-weight: 100;
  text-shadow: #0e0d0c 1px 1px 1px;
  text-decoration: none;
  padding: 8px 12px;
  border: white solid 1px;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#header a:hover {
  color: white;
  text-underline-offset: 4px;
  text-decoration: underline 1px;
}

li {
  list-style: none;
}

iframe {
  border-radius: 8px;
  width: 535px;
  height: 290px;
}
.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.styling {
  padding: 12px 24px;
}

.articles {
  width: 340px;
}

main h2 {
  margin: 24px 0;
}

main h3 {
  margin: 12px 0;
}

#data-info p {
  color: rgb(200, 0, 0);
  margin: 0px;
}

#data-info h3 {
  margin: 8px;
}

#header-img {
  background-image: url("img/header-img.png");
  height: 100vw;
  max-height: 520px;
  width: 100%;
  border-radius: 24px 24px 0 0;
}

#colonization img {
  margin-bottom: 12px;
}
/*
  ##################################
  Sections #########################
  ##################################
  */
#navbar {
  display: flex;
  justify-content: space-between;
}

#menu {
  display: flex;
}

#header {
  padding: 60px 0;
  text-align: center;
}

#data-info {
  /* display: flex; */
  /* justify-content: space-between; */
  background-color: #231a17;
  text-align: center;
}

#facts,
#video-section,
#colonization {
  background-color: #231a17;
  display: flex;
  justify-content: space-evenly;
}

#didyouknow {
  background-color: #231a17;
  text-align: center;
}

#pop-culture {
  background-color: #0e0d0c;
  text-align: center;
}

.pop-culture-wrapper {
  display: flex;
  justify-content: space-between;
}

.info-box {
  width: 100vw;
  max-width: 275px;
}
#bottom {
  background-image: url(img/footer-ing.png);
  height: 100vw;
  max-height: 395px;
  border-radius: 0 0 24px 24px;
}

#footer {
  padding-top: 50px;
  text-align: center;
}
/* 
  ##################################
  Flip section #####################
  ##################################
  */

#grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  font-weight: 100;
}

.flip-box {
  background-color: #c48500;
  width: 276px;
  height: 276px;
  perspective: 2000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(-180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-box-front {
  background-color: #0e0d0c;
}

.flip-box-front h2 {
  font-size: 8em;
  font-weight: 100;
}
.flip-box-back {
  background-color: #231a17;
  transform: rotateX(-180deg);
}

/* Responsive test
  
  /* For mobile phones: */
/* [class*="xxx"] {
    width: 100%;
  } */

/* @media only screen and (min-width: 600px) { */
/* For tablets: */
/* .test {
      width: 8.33%;
    }
    .col-s-2 {
      width: 16.66%;
    }
    .col-s-3 {
      width: 25%;
    }
    .col-s-4 {
      width: 33.33%;
    }
    .col-s-5 {
      width: 41.66%;
    }
    .col-s-6 {
      width: 50%;
    }
    .col-s-7 {
      width: 58.33%;
    }
    .col-s-8 {
      width: 66.66%;
    }
    .col-s-9 {
      width: 75%;
    }
    .col-s-10 {
      width: 83.33%;
    }
    .col-s-11 {
      width: 91.66%;
    }
    .col-s-12 {
      width: 100%; */
/* }
  } */
/* @media only screen and (min-width: 768px) { */
/* For desktop: */
/* .col-1 {
      width: 8.33%;
    }
    .col-2 {
      width: 16.66%;
    }
    .col-3 {
      width: 25%;
    }
    .col-4 {
      width: 33.33%;
    }
    .col-5 {
      width: 41.66%;
    }
    .col-6 {
      width: 50%;
    }
    .col-7 {
      width: 58.33%;
    }
    .col-8 {
      width: 66.66%;
    }
    .col-9 {
      width: 75%;
    }
    .col-10 {
      width: 83.33%;
    }
    .col-11 {
      width: 91.66%;
    }
    .col-12 {
      width: 100%;
    } */

@media screen and (max-width: 480px) {
  body {
    font-size: 16px;
    background: linear-gradient(#c48500, #391e07);
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    color: #e0dbdb;
  }

  main {
    border-radius: none;
    box-shadow: none;
  }

  #data-info h3 {
    font-size: 1rem;
    margin: 4px;
  }

  #data-info p {
    font-size: 0.7rem;
  }

  .hide {
    display: none;
  }

  #hide {
    display: none;
  }

  #header h1 {
    font-size: 2.4rem;
    padding: 50px;
  }

  #header h2 {
    font-size: 1em;
    width: 60%;
  }

  .pop-culture-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .styling {
    padding: 0;
  }
  .info-box {
    display: block;
    justify-content: center;
    align-items: center;
  }
  #facts,
  #video-section,
  #colonization {
    background-color: #231a17;
    display: block;
    justify-content: center;
  }

  #facts img {
    width: 100%;
    height: 100%;
  }

  .articles {
    width: 100%;
    padding: 10px;
  }
}

/* header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header svg {
    width: 1.5em;
    cursor: pointer;
  }
  
  a {
    color: white;
  }
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  a.logo {
    font-weight: bold;
    margin: 0 1em;
  }
  
  a.cta-btn {
    margin-left: auto;
    background: #FC85AE;
    padding: 1em;
    display: inline-block;
    border-radius: 2em;
    font-size: .6em;
    color: #303A52;
    font-weight: bold;
  }
  
  /* Navigation */

nav {
  position: fixed;
  background: #576483;
  height: 100vh;
  left: 0;
  top: 0;
  width: 80%;
  visibility: hidden;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s;
  text-align: center;
}

nav p {
  margin-bottom: 0;
}

nav svg {
  cursor: pointer;
  width: 1em;
}

nav ul li a {
  display: block;
  padding: 0.2em;
  font-size: 1.8em;
}

.selected {
  background: #9e579d;
}

.open-nav {
  visibility: unset;
  opacity: 1;
  transform: translateX(0);
}
